<!-- <div class="container mt-5">
  <h2>Réinitialiser votre mot de passe</h2>

  <form [formGroup]="resetForm" (ngSubmit)="resetMyPassword()">
    <div class="mb-3">
      <label>Mot de passe</label>
      <input type="password" class="form-control" formControlName="newPassword" />
    </div>

    <div class="mb-3">
      <label>Confirmation du mot de passe</label>
      <input type="password" class="form-control" formControlName="confirmPassword" />
    </div>

    <div *ngIf="error" class="alert alert-danger">Erreur : Les mots de passe ne correspondent pas ou le lien est invalide.</div>
    <div *ngIf="success" class="alert alert-success">Mot de passe modifié avec succès. Vous pouvez vous connecter.</div>

    <button class="btn btn-primary" type="submit">Réinitialiser</button>
  </form>
</div> -->


<div class="bg-image">
  <div class="row justify-content-center py-3">
      <div class="col-md-3 px-3 py-3 rounded-4 carte_login">
          <div class="row justify-content-center px-5 mb-4">
              <div class="col-8">
                  <img alt="" src="assets/images/logo-ugb.png" class="img-fluid">
              </div>
          </div>
          <div class="row text-center">
              <p class="text_acceuil fs-4 fw-bold">Service d'Authentification Unique</p>
          </div>
          <div class="row justify-content-center">
              <form [formGroup]="resetForm" id="loginForm" (ngSubmit)="resetMyPassword()">
                  <div class="form-group mx-2 mt-3">
                      <label for="newPassword" class="text_label fs-4 fw-lighter">Nouveau Mot de passe</label>
                      <input type="password" id="newPassword" formControlName="newPassword" name="newPassword"
                              class="form-control rounded-3 bg-dark bg-opacity-25 border-bleu"
                              [ngClass]="{'is-invalid': resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched}"
                              placeholder="*************">
                      <div *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched" class="invalid-feedback">
                        <div *ngIf="resetForm.get('newPassword')?.errors?.['required']">Ce champ est requis.</div>
                        <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">Le mot de passe doit contenir au moins 4 caractères.</div>
                      </div>

                  </div>
                  <div class="form-group mx-2 mt-3">
                    <label for="confirmPassword" class="text_label fs-4 fw-lighter">Confirmer Mot de passe</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword"
                            class="form-control rounded-3 bg-dark bg-opacity-25 border-bleu"
                            [ngClass]="{'is-invalid': resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched}"
                            placeholder="*************">
                    <div *ngIf="resetForm.get('confirmPassword')?.errors && resetForm.get('confirmPassword')?.touched" class="invalid-feedback">
                      <div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Ce champ est requis.</div>
                      <div *ngIf="resetForm.get('confirmPassword')?.errors?.['minlength']">Le mot de passe doit contenir au moins 4 caractères.</div>
                    </div>

                </div>
                  <div class="form-group mx-4 p-3">
                      <button type="submit" id="btnSubmit" class="btn bg-marron rounded-5 w-100 text-white fw-bold fs-4 text-uppercase">Choisir mon mot de passe</button>
                  </div>
                  <div *ngIf="resetForm.errors?.['passwordMismatch'] && resetForm.touched"
                  class="text-danger">
                    Les mots de passe ne correspondent pas.
                  </div>
              </form>

          </div>
      </div>
  </div>
</div>


